*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #272b32;
    font-family: sans-serif;
}
.cont{
    box-shadow: -3px -3px 5px #43454a,
    3px 3px 5px #121418;
    height: 350px;
    width: 850px;
    left: 400px;
    top: 300px;
    position: absolute;
}
ul{
    list-style: none;
    position: absolute;
    display: flex;
    height: 100px;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    left: 30px;
    color: #fff;
    font-weight: bold;
}
.first{
    top: 35px;
    width: 790px;
}
.secend{
    top: 130px;
    width: 720px;
    padding-left: 20px;
}
.third{
    top: 222px;
    width: 700px;
    padding-left: 90px;
    text-transform: uppercase;

}
li{
    display: block;
    margin: 15px 0px 0px 20px;
}
.active{
    box-shadow: 3px 3px 5px #43454a,
    -3px -3px 5px #121418;
}
div{
    padding: 25px;
    /* border: 1px solid #aaaaaa; */
    width: 65px;
    box-shadow: -3px -3px 5px #43454a,
    3px 3px 5px #121418;
    border-radius: 10px;
    display: inline-block;
    margin-left: 5px;
}